@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: middle;
  font-size: calc(8px + 2vmin);
  color: #d2d1d0;
  flex-direction: row;
  justify-content: space-between;
}

.App-link {
  color: #d2d1d0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-column {
  display: flex;
  justify-content: space-around;
  background-color: #080808;
  width: 100%;
  height: 10vh;
  align-items: center;
  position: fixed;
}
.header {
  text-decoration: none;
  color:  #d2d1d0;
  text-align: left;
  width: 44vw;
  margin-top: 0;
  margin-right: 2vw;
  margin-left: 4vw;
  font-size:  calc(8px + 2vmin);
}
.menu {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.menu .outOfView {
  text-decoration: none;
  color:  #d2d1d0;
  font-size:calc(2px + 2vmin);
}
.menu .inView {
  text-decoration: none;
  color:  #d14031;
  font-size:calc(2px + 2vmin);
}
.menu a:hover {
  font-size: calc(4px + 2vmin);
}

.right-column {
  width: 70vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
.about-section {
  margin-top: 10vh;
}
.center-column {
  margin-top: 10vh;
  width: 20vw;
}
.second-p {
  margin-top: calc(30px + 2vmin);
}

.third-p {
  margin-top: calc(80px + 2vmin);
}

.third-h2 {
  margin-top: calc(120px + 2vmin);
}

.projects {
  background:none;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: scroll;
  list-style: none;
}

.project-list-item {
  background: none;
  padding: 3%;
  border: none;
  height: max-content;
  width: 90%;
}
.project-list-item:hover {
  background: #d14031;
  border-radius: 5px;
}

.project-list-button {
  text-align: left;
  align-items: top;
  font-size: small;
  margin: 2%;
  padding: 2%;
  display: flex;
  text-decoration: none;
  flex-direction: row;
  border-radius: 5px;
  background: none;
  width: 92%;
  color: #d2d1d0;
  border: none;
  height: max-content;
  text-shadow: 0 0 1px #a8a7a6;

}

.project-list-button h3{
  font-size: medium;
}
.project-list-button p {
  font-size: small;
}

.sub-header {
  display: flex;
  width: '100%';
}
.sub-header a {
  text-decoration: none;
  color:  #d2d1d0;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: larger;
}

html:not([data-scroll='0']) header {
  position: fixed;
}

@media only screen and (min-width: 865px) {
  .header-column {
    display: inline-block;
    width: 12vw;
    margin-left: 3vw;
    margin-top: 6vh;
    position: fixed;
    height: 100%;
  }
  .header {
    font-size: larger;
    text-align: center;
    margin: 0;
    width: 100%;
  }
  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-Top: 4vh;
    height: 20vh;
  }
  .right-column {
    width: 75vw;
  }
  .center-column {
    margin-top: 2vh;
    margin-left: 15vw;
    width: 10vw;
  }
 
}