@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #d2d1d0;
  flex-direction: row;
  justify-content: space-between;
}

.App-link {
  color: #d2d1d0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.left-column, .right-column {
  width: 40%;
}
.sub-header {
  align-self: top;
}

.second-p {
  margin-top: calc(40px + 2vmin);
}