body {
  margin: 0;
  text-align: center;
  background-color: #080808;
  font-family: 'Steiner','VaguelyFatal', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "VaguelyFatal";   /*Can be any text*/
  src: local("VaguelyFatal"),
    url("./fonts/VaguelyFatal.ttf") format("truetype");
}

@font-face {
  font-family: "Steiner";   /*Can be any text*/
  src: local("SteinerLight"),
    url("./fonts/SteinerLight.ttf") format("truetype");
}